<ion-view view-title="{{title}}">
  <ion-nav-buttons side="right">


  </ion-nav-buttons>
  <ion-content class="gyazz_page padding" on-swipe-right="swipeRight()" on-swipe-left="swipeLeft()" ng-cloak>
    <div class="loading" ng-show="isLoading"><ion-spinner icon="spiral" class="spinner-assertive"></ion-spinner></div>
    <ion-list>
      <div class="list">
          <div class="list-issues" ng-repeat="issue in issues" type="item-text-wrap" ng-click="openWebPage('{{issue.url}}')">
            <h3>{{issue.title}}</h3>
            <p>{{issue.body}}</p>
            <img src="{{issue.user_icon}}">

          </div>
      </div>
    </ion-list>
  </ion-content>
</ion-view>