<ion-view view-title="{{page.title}}">
  <ion-nav-buttons side="right">
    <button class="button button-icon icon ion-star" on-hold="insertGyazzMark('[');"></button>
  </ion-nav-buttons>
  <ion-content class="padding" on-swipe-right="swipeRight()" on-swipe-left="swipeLeft()">
  	<div class="button" ></div>
	<div class="editingPadding animate-show" ng-show="isEditing"></div>
  	<div class="loading" ng-show="isLoading">Loading...</div>
  	<div class="loading" ng-show="isWriting">書き込み中</div>
    <p class="htmlData" ng-repeat="paragraph in pageDetail track by $index" content="paragraph" on-hold="editMode($event)">
    </p>
	<div class="editingPadding animate-show" ng-show="isEditing"></div>
  </ion-content>
</ion-view>