
<ion-view view-title="Gyazzページ検索">
  <ion-nav-title></ion-nav-title>
  <ion-nav-buttons side="right">
    <form name="signinForm" novalidate="" ng-submit="searchPage(query)">
      <input type="text" placeholder="検索ワードを入力" ng-model="query" class="search_text_input"/>
    </form>
  </ion-nav-buttons>
  <ion-content>
    <div ng-show="isLoading" class="loading">
      <ion-spinner icon="spiral" class="spinner-assertive"></ion-spinner>
    </div>
    <ion-list can-swipe="false">
      <div ng-show="noData" ng-cloak="" class="empty_sign">
        <div class="icon ion-qr-scanner"></div>
        <div class="text">データがありません</div>
      </div>
      <ion-item ng-repeat="result in results" type="item-text-wrap" ng-click="goNextPage(result.title)" class="gyazz-pagelist item-icon-right">
        <h2>{{result.title}}</h2><i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>
    <ion-infinite-scroll ng-if="!noMoreItemsAvailable" on-infinite="loadMore()" distance="10%"></ion-infinite-scroll>
  </ion-content>
</ion-view>