
<ion-view view-title="アカウント">
  <ion-content>
    <div class="list">
      <div class="item item-divider">増井研</div><a href="#/tab/account/todos" class="item item-icon-right">増井研ToDoリスト<i class="icon ion-chevron-right icon-accessory"></i></a>
      <div class="item item-divider">GyazzApp</div><a href="#/tab/account/pages/GyazzAppの使い方" class="item item-icon-right">GyazzAppの使い方<i class="icon ion-chevron-right icon-accessory"></i></a><a href="#/tab/account/issues/enhancement" class="item item-icon-right">搭載予定の機能/リクエスト<i class="icon ion-chevron-right icon-accessory"></i></a><a href="#/tab/account/issues/bug" class="item item-icon-right">確認済みのバグ<i class="icon ion-chevron-right icon-accessory"></i></a><a href="#/tab/account/issues/愚痴" class="item item-icon-right">愚痴<i class="icon ion-chevron-right icon-accessory"></i></a><a href="#/tab/account/pages/Hikaru" class="item item-icon-right">Develop@Hikaru<i class="icon ion-chevron-right icon-accessory"></i></a>
      <!--
      コメントアウトすると、デバッグ用のログアウトボタンが出現
      a.item(href='#', ng-click='logout()')
        | ログアウト
      -->
    </div>
  </ion-content>
</ion-view>