<ion-view view-title="PageList">
  <ion-content>
    <ion-list can-swipe="true">
      <ion-item class="item-remove-animate item-icon-right" ng-repeat="page in pages" type="item-text-wrap" href="#/tab/pagelist/pages/{{page.id}}">
        <h2>{{page.title}}</h2>
        <i class="icon ion-chevron-right icon-accessory"></i>
        <ion-option-button class="button-energized" ng-click="show()">
            <i class="icon ion-ios-star"></i>
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
