<ion-view view-title="アカウント">
  <ion-content>
	<div class="list">
<!-- 	  <div class="item item-divider">設定</div>
	  <a class="item" href="#" ng-click="logout()">ログアウト(localStorageテスト用)</a> -->
	  <div class="item item-divider">増井研</div>
	  <a class="item" href="#/tab/account/todos">増井研ToDoリスト</a>
	  <div class="item item-divider">GyazzApp</div>
	  <a class="item" href="#/tab/account/pages/GyazzAppの使い方">GyazzAppの使い方</a>
	  <a class="item" href="#/tab/account/issues/enhancement">搭載予定の機能/リクエスト</a>
	  <a class="item" href="#/tab/account/issues/bug">確認済みのバグ</a>
	  <a class="item" href="#/tab/account/issues/愚痴">愚痴</a>
	  <a class="item" href="#/tab/account/pages/Hikaru">Develop@Hikaru</a>
	</div>
  </ion-content>
</ion-view>
