
<ion-view view-title="Notification">
  <ion-nav-buttons side="right">
    <button ng-click="showPage()" ng-controller="SearchCtrl" class="button button-icon icon ion-ios-search"></button>
    <button ng-click="showPopup()" ng-controller="NewpageCtrl" class="button button-icon icon ion-ios-compose-outline"></button>
  </ion-nav-buttons>
  <ion-content class="padding">
    <div ng-show="isLoading" class="loading">
      <ion-spinner icon="spiral" class="spinner-assertive"></ion-spinner>
    </div>
    <ion-refresher on-refresh="doRefresh()" spinner="ripple"></ion-refresher>
    <div ng-repeat="notification in notifications" ng-click="goNextPage(notification.title)" class="notification-item">
      <div class="title">「{{notification.title}}」が更新されました。</div>
      <div class="date">{{notification.timestamp | toAgo}}</div>
    </div>
  </ion-content>
</ion-view>