<ion-view view-title="PageList">
  <ion-nav-buttons side="right">
    <button class="button button-icon icon ion-ios-search" ng-click="showPage()" ng-controller="SearchCtrl"></button>
    <button class="button button-icon icon ion-ios-compose-outline" ng-click="showPopup()" ng-controller="NewpageCtrl"></button>
  </ion-nav-buttons>
  <ion-content>
    <div class="loading" ng-show="isLoading"><ion-spinner icon="spiral" class="spinner-assertive"></ion-spinner></div>
    <ion-refresher on-refresh="doRefresh()" spinner="ripple"></ion-refresher>
    <ion-list can-swipe="false">
      <ion-item class="gyazz-pagelist item-icon-right" ng-repeat="page in pages" type="item-text-wrap" href="#/tab/pagelist/pages/{{page.title}}">
        <h2>{{page.title}}</h2>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>
    <div class="button" ng-click="loadMoreData()">More</div>
    <ion-infinite-scroll ng-if="!noMoreItemsAvailable" on-infinite="loadMoreData()" distance="10%"></ion-infinite-scroll>
  </ion-content>
</ion-view>
