
<ion-view view-title="増井研ToDo">
  <ion-nav-buttons side="right"></ion-nav-buttons>
  <ion-content ng-cloak="" class="gyazz_page padding">
    <div ng-show="isLoading" class="loading">
      <ion-spinner icon="spiral" class="spinner-assertive"></ion-spinner>
    </div>
    <ion-list>
      <div class="list">
        <div ng-repeat="todo in todos" type="item-text-wrap" ng-click="openWebPage('{{todo.url}}')" class="list-issues">
          <h3>{{todo.title}}</h3>
          <p>{{todo.body}}</p><img src="{{todo.user_icon}}"/>
        </div>
      </div>
    </ion-list>
  </ion-content>
</ion-view>