/* Empty. Add your own CSS if you like */
.raw-textarea {
	border-bottom:2px solid #aaa;
}
textarea.original_data {
	font-size: 130%;
	line-height: 210%;
	color:#2962FF;
	font-weight: bold;
	height:auto;
}