/* Empty. Add your own CSS if you like */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

a.gyazz_link {
	color:#BF360C;
	text-decoration: none;
	font-size: 105%;
	border:1px dashed #B0BEC5;
	border-radius: 4px;
	padding:4px 6px;
}
.bar-gyazz {
	border-color: #E65100;
    background-color: #FF6F00;
    color: #fff;
}
.bar-gyazz .title {
	font-weight: bold;
}
.bar-gyazz .button {
border-color: #0c63ee;
background-color: #387ef5;
color: #fff; }
.bar-gyazz .button:hover {
color: #fff;
text-decoration: none; }
.bar-gyazz .button.active, .bar-gyazz .button.activated {
border-color: #0c63ee;
background-color: #0c63ee;
box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.1); }
.bar-gyazz .button.button-clear {
border-color: transparent;
background: none;
box-shadow: none;
color: #fff;
font-size: 15px;
font-weight: bold;
}
.bar-gyazz .button.button-icon {
border-color: transparent;
background: none; }
ion-tabs.tabs-color-active-gyazz .tab-item {
  color: #444; }
ion-tabs.tabs-color-active-gyazz .tab-item.tab-item-active, ion-tabs.tabs-color-active-gyazz .tab-item.active, ion-tabs.tabs-color-active-gyazz .tab-item.activated {
    color: #E65100; }


.popup-title {
	font-weight: bold;
	color: #333;
}
.popup-sub-title {
	font-weight: bold;
	color:#444;
}
.popup-container .popup {
	border-radius: 4px;
	border-bottom:2px solid #666;
}
.popup input {
	font-size: 130%;
	font-weight: bold;
	padding:4px 6px;
	color:#333;
}
.loading {
	text-align: center;
	padding:80px 0;
}
.loading .spinner svg {
  width: 40px;
  height: 40px;
}
ion-refresher .spinner svg {
	stroke: #FF6F00;
	fill: #FF6F00;
}

.writing_message {
	position: fixed;
	top:70px;
	right:10px;
	border-radius: 6px;
	background:rgba(0, 0, 0, 0.8);
	color:#fff;
	text-align: center;
	line-height: 20px;
	font-size: 11px;
	width: 80px;
	font-weight: bold;
	z-index: 100;
}
.platform-ios .writing_message {
	top:70px;
}
.platform-android .writing_message {
	top:100px;
}
.gyazz-pagelist {

}
.gyazz-pagelist h2 {
	color:#444;
	font-weight: bold;
}
.editingPadding {
	content:' ';
	height: 100px;
	width: 100px;
}
.raw-textarea {
	border-bottom:2px solid #FF6F00;
}
.gyazz_page {

}
.empty_tap_insert_button {
	margin:80px auto 0 auto;
	border-radius: 6px;
	width:50%;
	text-align: center;
	line-height: 42px;
	font-size: 12px;
	font-weight: bold;
	color: #fff;
	background: #666;
}
.gyazz_page .conversion_text {
	font-size: 116%;
	color:#333;
	line-height: 190%;
}
.gyazz_page .conversion_text .indent {
	padding:0 6px 0 12px;
	font-weight: bold;
	color:#FF8F00;
}
.gyazz_page .conversion_text .caption {
	border-left: 5px solid #EF6C00;
	padding: 4px 0px 4px 8px;
}
textarea.original_data {
	font-size: 130%;
	line-height: 1.8;
	color:#D84315;
	font-weight: bold;
}
textarea.edit_page_textarea {
	width:100%;
	font-size: 110%;
	line-height: 210%;
	color:#2962FF;
	font-weight: bold;
	height: 300px;
	resize: none;
}
.animate-show-hide.ng-hide-add,
.animate-show-hide.ng-hide-remove {
  -webkit-transition:all linear 0.2s;
  -moz-transition:all linear 0.2s;
  -o-transition:all linear 0.2s;
  transition:all linear 0.2s;
}
.animate-show-hide.ng-hide-add.ng-hide-add-active,
.animate-show-hide.ng-hide-remove {
  opacity:0;
}
.animate-show-hide.ng-hide-remove.ng-hide-remove-active,
.animate-show-hide.ng-hide-add {
  opacity:1;
}